header{
    height: 100px;
    gap: 15px;
    margin-top:  0;
    padding: 0 3%;
}
.un_list{
    gap: 15px;
}


.header_ul_item{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
li:first-child{
    margin: 0px;
}
li {
    margin-left: 2rem;
    list-style: none;
}
a{
    transition: all 250ms;
}
a:hover{
    color: rgba(211, 211, 211, 0.5);
    transition: all 250ms;
}

.bookinglogo {
   background-image: url('/img/bookinglogo.svg');
   background-size: cover;
   filter: invert(100%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(100%);
   width: 35px;
   height: 35px;
}
.bookinglogo:hover{
    filter: invert(50%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(100%);
}
.google_map {
    width: 100%;
    height: 100%;
}
.change_lng {
    cursor:pointer;
    transition: all 250ms;
}
.change_lng:hover{
    color: rgba(211, 211, 211, 0.5);
    transition: all 250ms;
}
.icons_media:hover{
    filter: brightness(50%);
    transition: all 250ms;
}
.icons_media{
    transition: all 250ms;
}




 






 // hamburger

 .hamburger {
    display: none;
    position: relative;
    width: 30px;
  }
  
  .hamburger:before,
  .hamburger:after,
  .hamburger div {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  .hamburger:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  .hamburger:hover:after {
    transform: translateY(-8px) rotate(-135deg);
  }
  .hamburger:hover div {
    transform: scale(0);
  }
  
  /// MEDIA
 @media (max-width: 68.75rem) {
    .header_ul_item{
        font-size: 1rem;
    }
 }

 @media (max-width: 56rem) {
    li{
        margin-left: 1rem;
    }
 }
 @media (max-width: 50rem) {
    .header_ul_item{
        font-size: .8rem;
    }
    li{
        margin-left: .7rem;
    }
 }
 @media (max-width: 43rem) {
    
    li{
        display: none;
    }
   .hamburger{
    display: block;
   }
   .bookinglogo{
    display: none;
   }
 }