header {
  height: 100px;
  gap: 15px;
  margin-top: 0;
  padding: 0 3%;
}

.un_list {
  gap: 15px;
}

.header_ul_item {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

li:first-child {
  margin: 0px;
}

li {
  margin-left: 2rem;
  list-style: none;
}

a {
  transition: all 250ms;
}

a:hover {
  color: rgba(211, 211, 211, 0.5);
  transition: all 250ms;
}

.bookinglogo {
  background-image: url("/img/bookinglogo.svg");
  background-size: cover;
  filter: invert(100%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(100%);
  width: 35px;
  height: 35px;
}

.bookinglogo:hover {
  filter: invert(50%) sepia(0%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(100%);
}

.google_map {
  width: 100%;
  height: 100%;
}

.change_lng {
  cursor: pointer;
  transition: all 250ms;
}

.change_lng:hover {
  color: rgba(211, 211, 211, 0.5);
  transition: all 250ms;
}

.icons_media:hover {
  filter: brightness(50%);
  transition: all 250ms;
}

.icons_media {
  transition: all 250ms;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
}

.hamburger:before,
.hamburger:after,
.hamburger div {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}

.hamburger:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.hamburger:hover:after {
  transform: translateY(-8px) rotate(-135deg);
}

.hamburger:hover div {
  transform: scale(0);
}

@media (max-width: 68.75rem) {
  .header_ul_item {
    font-size: 1rem;
  }
}
@media (max-width: 56rem) {
  li {
    margin-left: 1rem;
  }
}
@media (max-width: 50rem) {
  .header_ul_item {
    font-size: 0.8rem;
  }
  li {
    margin-left: 0.7rem;
  }
}
@media (max-width: 43rem) {
  li {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .bookinglogo {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main_part {
  position: relative;
  background-image: url("/img/background.png");
  height: 700px;
}

.center_text {
  position: relative;
  max-width: 85%;
  width: 100%;
  margin: 2% auto;
  height: 50%;
}

.icons_list {
  max-width: 15%;
  min-width: 140px;
}

h1, h2, h3 {
  color: white;
}

h1 {
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
}

.center_text_top, .center_text_bottom {
  max-width: 90%;
}

.flex {
  display: flex;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-e {
  justify-content: space-evenly;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-column-r {
  flex-direction: column-reverse;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-r {
  flex-direction: row-reverse;
}

.bg-cover-norepeat {
  background-size: cover;
  background-repeat: no-repeat;
}

::-moz-selection {
  background-color: rgba(131, 131, 131, 0.5);
  color: rgba(250, 250, 250, 0.9);
}

::selection {
  background-color: rgba(131, 131, 131, 0.5);
  color: rgba(250, 250, 250, 0.9);
}

.location_container {
  background-color: #6B7B62;
  border-top: 1px solid white;
  max-height: 500px;
}

.utvonalterv {
  display: inline-block;
  width: 20%;
  background-color: aliceblue;
  height: 30px;
  display: none;
}

.location {
  width: 90%;
  margin: auto;
  gap: 2rem;
}
.location_text {
  color: rgba(255, 255, 255, 0.37);
  font-weight: 1000;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}
.location_paragraph {
  color: rgba(255, 255, 255, 0.603);
  font-size: 1.2rem;
}

.left_side_text {
  max-width: 600px;
  width: 100%;
  height: 350px;
}

.right_side_location {
  background-color: white;
  width: 350px;
  height: 500px;
  margin: 0;
  max-height: 600px;
}

@media (max-width: 58rem) {
  .left_side_text {
    max-width: 400px;
  }
  .location_text {
    font-size: 35px;
  }
  .location_paragraph {
    font-size: 1.1rem;
  }
}
@media (max-width: 48rem) {
  .left_side_text {
    max-width: 350px;
  }
  .right_side_location {
    max-width: 300px;
  }
  .location {
    height: 100%;
  }
  .location_text {
    font-size: 30px;
  }
  .location_paragraph {
    font-size: 0.9rem;
  }
  .location_container {
    height: 400px;
  }
  .right_side_location {
    height: 399px;
  }
}
@media (max-width: 40rem) {
  .location_container {
    max-height: 320px;
  }
  .location {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px auto;
    gap: 10px;
    height: 85%;
  }
  .location_text {
    text-align: center;
  }
  .location_paragraph {
    text-align: center;
  }
  .right_side_location {
    display: none;
  }
  .utvonalterv {
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px 1px;
    text-align: center;
    background-color: #6B7B62;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    min-width: 85px;
  }
  .utvonalterv:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
  }
}
.room_container {
  height: 500px;
  width: 100%;
  background-color: rgb(66, 76, 59);
}

.left_side_room {
  height: 330px;
  width: 600px;
}

.wrapper_rooms {
  width: 90%;
  gap: 20px;
}

#slider {
  min-width: 390px;
  width: 25%;
  max-width: 600px;
  text-align: center;
}

#slider input[type=radio] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  padding: 10px;
  position: relative;
  z-index: 1;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 300px;
}

#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120%;
  max-height: 500px;
  color: #fff;
  border-radius: 10px;
}

#slides .slide_1 {
  background-image: url("/img/mansard_1.png");
  background-size: cover;
  border-radius: 10px;
}

#slides .slide_2 {
  background: #003459;
  border-radius: 10px;
}

#slides .slide_3 {
  background: #007EA7;
  border-radius: 10px;
}

#slides .slide_4 {
  background: #00A8E8;
  border-radius: 10px;
}

#controls {
  margin: -180px 0 0 0;
  width: 70%;
  height: 50px;
  z-index: 3;
  position: relative;
}

#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
  color: #00171F;
}

#controls label:hover {
  opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}

#bullets {
  margin: 150px 0 0;
  text-align: center;
}

#bullets label {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: black;
}

@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
  #slides {
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }
}